@import "tailwindcss";
@import "tw-animate-css";

/* Tailwind v4 dark variant support (optional) */
@custom-variant dark (&:is(.dark *));

/* Base */
/* html,
body {
  height: 100%;
} */

body {
  margin: 0;
  background: #ffffff;
  color: #0f172a;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-red: #c4162a;
  --brand-dark: #0b0f19;

  --shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.08);
  --shadow-soft-2: 0 30px 80px rgba(0, 0, 0, 0.12);

  --radius-pill: 9999px;
  --radius-card: 20px;
}

/* Small global niceties */
button {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.text-brand-red {
  @apply text-[#BE123C]
}

/* .hustle-card {
  @apply !bg-white !rounded-[2rem] !border !border-[#f1f5f9] !transition-[all 0.5s cubic-bezier(0.19, 1, 0.22, 1)];
} */

.hustle-card {
  @apply bg-white rounded-[2rem] border border-[#f1f5f9] transition-all
}

.job-feed-scroll {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #BE123C transparent;
  /* Firefox: thumb + track */
  overflow-y: auto;
}

/* Chrome, Safari, Edge */
.job-feed-scroll::-webkit-scrollbar {
  width: 6px;
  /* slim */
}

.job-feed-scroll::-webkit-scrollbar-track {
  background: transparent;
  /* track hidden */
}

.job-feed-scroll::-webkit-scrollbar-thumb {
  background-color: #BE123C;
  border-radius: 10px;
}

/* hide buttons completely */
.job-feed-scroll::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.section-h2 {
  @apply !text-[0.95rem] !mb-4 !font-black !uppercase !text-[#BE123C] !tracking-wider !pb-2 border-b border-gray-100;
}

.section-p {
  @apply !mb-5 !text-[0.95rem] !text-[#4b5563] !text-justify;
}

/* .section-h3 {
  @apply font-extrabold text-[0.85rem] text-[#111827] mt-6 mb-3 uppercase
} */

.section-list {
  @apply !mb-6 !text-[#4b5563] !text-[0.95rem]
}

.section-bullet {
  @apply mb-3
}


@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 45s linear infinite;
}